<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rabianr.capacitor.linelogin" xmlns:tools="http://schemas.android.com/tools">

    <application tools:replace="android:allowBackup" android:allowBackup="true">
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
